:root{
    --primary-text-color: #333333;
    --primary-text-color-gray: #BDBDBD;
    --total-seat-color: #4F4F4F;
}

$montserrat: 'Montserrat', sans-serif;
$bg-color: #181719;
$text-color: var(--primary-text-color);
$gray-text-color: var(--primary-text-color-gray);
$total-seat-color: var(--total-seat-color);